@page "/spravovat-platbu/{paymentId}"
@page "/vytvorit-platbu/{invoiceId:int}"
@page "/vytvorit-platbu"
@using HoaP.Application.ViewModels.Invoice
@using HoaP.Application.ViewModels.Payment
@inject PaymentService PaymentService
@inject InvoiceService InvoiceService
@inject PaymentMethodService PaymentMethodService
@inject IMapper Mapper
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Chyba:</strong> @errorMessage
    </div>
}

<div class="container mt-2">
    <div class="card border-0 shadow-sm mx-auto w-50">
        <div class="card-body">
			<h3 class="card-title text-center mb-4 page-title">@(paymentId == null ? "Vytvořit platbu" : "Upravit platbu")</h3>
            <EditForm Model="payment" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <label for="invoiceId" class="form-label">Faktura</label>
                    <div class="form-group position-relative">
                        <input type="text" class="form-control" placeholder="Hledat fakturu..." @bind="searchTerm" @oninput="SearchInvoice" @onblur="HideInvoices" />
                        @if (filteredInvoices.Any())
                        {
                            <ul class="list-group mt-1" style="max-height: 200px; overflow-y: auto; position: absolute; top: 100%; left: 0; right: 0; z-index: 1000;">
                                @foreach (var invoice in filteredInvoices)
                                {
                                    <li class="list-group-item list-group-item-action" @onmousedown="() => SelectInvoice(invoice)">
                                        <div>
                                            <strong>Číslo faktury:</strong> #@invoice.Id
                                        </div>
                                        <div>
											<strong>Zákazník:</strong> @(invoice.CustomerName ?? "Neznámý zákazník")
                                        </div>
                                        <div>
											<strong>Termín:</strong> @invoice.IssueDate.ToShortDateString() - @invoice.DueDate.ToShortDateString()
                                        </div>
                                        <div>
                                            <strong>Cena:</strong> @invoice.Price.ToString("0.00") @invoice.CurrencySymbol
                                        </div>

                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>

                <div class="mb-3">
                    <label for="amount" class="form-label">Částka</label>
                    <div class="input-group">
                        <InputNumber id="amount" class="form-control" @bind-Value="payment.TotalAmount" />
                        <span class="input-group-text">@selectedInvoice?.CurrencySymbol</span>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="paymentDate" class="form-label">Datum platby</label>
                    <InputDate id="paymentDate" class="form-control" @bind-Value="payment.PaymentDate" />
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="paymentMethod" class="form-label">Způsob platby</label>
                        <select id="paymentMethod" class="form-control" @bind="payment.PaymentMethodId">
                            <option value="">-- Vyberte metodu --</option>
                            @foreach (var method in paymentMethods)
                            {
                                <option value="@method.Id">@method.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Uložit</button>
                    <a href="/platby" class="btn btn-outline-secondary">Zpět na seznam</a>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
	[Parameter]
	public string? paymentId { get; set; }
	private Guid? paymentIdGuid => paymentId != null ? Guid.Parse(paymentId) : (Guid?)null;

	[Parameter]
	public int? invoiceId { get; set; }

    private PaymentFormViewModel payment { get; set; } = new PaymentFormViewModel();
    private List<InvoiceViewModel> invoices = new List<InvoiceViewModel>();
    private List<InvoiceViewModel> filteredInvoices = new List<InvoiceViewModel>();
    private InvoiceViewModel? selectedInvoice;


    private List<PaymentMethodViewModel> paymentMethods { get; set; } = new List<PaymentMethodViewModel>();
	private string? errorMessage;


    private string searchTerm = string.Empty;

    protected override async Task OnInitializedAsync()
    {


		if (paymentId != null)
		{
            payment = Mapper.Map<PaymentFormViewModel>(await PaymentService.GetPaymentByIdAsync(paymentIdGuid.Value));
			var invoice = await InvoiceService.GetInvoiceByIdAsync(payment.InvoiceId);
			searchTerm = $"#{invoice.Id} - {invoice.CustomerName ?? "Neznámý zákazník"}";
		}
        else if (invoiceId != null)
        {
            payment.InvoiceId = invoiceId.Value;

            var detailInvoice = await InvoiceService.GetInvoiceByIdAsync(invoiceId.Value);
            selectedInvoice = Mapper.Map<InvoiceViewModel>(detailInvoice);

            searchTerm = $"#{selectedInvoice.Id} - {selectedInvoice.CustomerName ?? "Neznámý zákazník"} ({selectedInvoice.CurrencySymbol})";
            payment.TotalAmount = selectedInvoice.Price;
        }




        invoices = (await InvoiceService.GetInvoicesAsync() ?? new List<InvoiceViewModel>())
            .Where(i => !i.IsPaid)
            .ToList();
        filteredInvoices = new List<InvoiceViewModel>();
        paymentMethods = await PaymentMethodService.GetPaymentMethodsAsync();
    }
    private void SearchInvoice(ChangeEventArgs e)
    {
        searchTerm = e.Value?.ToString() ?? string.Empty;
        filteredInvoices = invoices
        .Where(i =>
                   (string.IsNullOrEmpty(searchTerm) ||
                    i.Id.ToString().Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                    i.Price.ToString().Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                    i.IssueDate.ToShortDateString().Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                    i.DueDate.ToShortDateString().Contains(searchTerm, StringComparison.OrdinalIgnoreCase)) &&
                   (i.CustomerName == null || i.CustomerName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)))
        .ToList();

    }

    private void SelectInvoice(InvoiceViewModel invoice)
    {
		selectedInvoice = invoice;
		searchTerm = $"#{invoice.Id} - {invoice.CustomerName ?? "Neznámý zákazník"}";
        payment.InvoiceId = invoice.Id;
        payment.TotalAmount = invoice.Price;
        filteredInvoices.Clear();
    }

    private void HideInvoices()
    {
        filteredInvoices.Clear();
    }

    

    private async Task HandleValidSubmit()
    {
        try {
            if (paymentId == null)
            {
                await PaymentService.CreatePaymentAsync(payment);
            }
            else
            {
                await PaymentService.UpdatePaymentAsync(payment);
            }
            NavigationManager.NavigateTo("/platby");
        }
		catch (DbUpdateException dbEx)
		{
			errorMessage = "Nepodařilo se uložit platbu do databáze. Zkuste to prosím znovu.";
		}
		catch (Exception ex)
		{
			errorMessage = "Nastala chyba při ukládání platby. Zkuste to prosím znovu. : " + ex.Message;
		}
    }
}
