@page "/platba/{Id:guid}"
@using HoaP.Application.ViewModels.Payment
@inject PaymentService PaymentService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="container mt-5">
    <div class="card border-0 shadow-sm mx-auto w-75">
        <div class="card-body">
			<div class="d-flex justify-content-end gap-2 align-items-center">
				<a href="/spravovat-platbu/@Id" class="btn btn-outline-primary">Upravit</a>
				<button class="btn btn-danger" @onclick="() => DeletePayment(Id)">Odstranit platbu</button>
            </div>
            <h3 class="text-center mb-4 page-title">Detail Platby</h3>
            @if (payment is not null)
            {
                <div class="row mb-3">
                    <div class="col-6 text-muted">ID Platby:</div>
                    <div class="col-6">@payment.Id</div>
                </div>
                <div class="row mb-3">
                    <div class="col-6 text-muted">Faktura:</div>
                    <div class="col-6">#@payment.InvoiceId</div>
                </div>
                <div class="row mb-3">
                    <div class="col-6 text-muted">Zákazník:</div>
					<div class="col-6">@(payment.CustomerName ?? "Neznámý zákazník")</div>
                </div>
                <div class="row mb-3">
                    <div class="col-6 text-muted">Částka:</div>
					<div class="col-6">@payment.TotalAmount @payment.CurrencySymbol</div>
                </div>
                <div class="row mb-3">
                    <div class="col-6 text-muted">Datum Platby:</div>
                    <div class="col-6">@payment.PaymentDate.ToString("dd.MM.yyyy")</div>
                </div>
                <div class="row mb-3">
                    <div class="col-6 text-muted">Způsob Platby:</div>
                    <div class="col-6">@payment.PaymentMethodName</div>
                </div>
            }
            else
            {
                <p class="text-center text-muted">Platba nebyla nalezena.</p>
            }

            <div class="text-center mt-4">
                <a href="/platby" class="btn btn-outline-secondary">Zpět na seznam plateb</a>
            </div>
        </div>
    </div>
</div>

@code {

	[Parameter]
	public Guid Id { get; set; }

	private DetailPaymentViewModel payment { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		payment = await PaymentService.GetPaymentByIdAsync(Id);
	}

	private async Task DeletePayment(Guid id)
	{
		var confirm = await JSRuntime.InvokeAsync<bool>("confirm", "Opravdu chcete odstranit tuto platbu?");
		if (confirm)
		{
			await PaymentService.DeletePaymentAsync(id);
			NavigationManager.NavigateTo("/platby");
		}
	}

}
