@page "/zakaznik/{Id:int}"
@inject CustomerService CustomerService
@inject ReservationService ReservationService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<div class="container mt-2">
    @if (customer == null)
    {
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
            </div>
            <p class="mt-2">Načítám podrobnosti o zákazníkovi...</p>
        </div>
    }
    else
    {
        <div class="row">
            <div class="card border-0 shadow-sm mx-auto">
                <div class="card-body">
                    <div class="container py-5">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3>@customer.FirstName @customer.LastName - #@customer.Id</h3>
							<button class="btn btn-success" @onclick="NavigateToAddReservation">+ Přidat rezervaci </button>
                        </div>

                        <div class="row">
                            <!-- Customer Information -->
                            <div class="col-md-12">
                                <div class="customer-detail">
                                    <h5>Customer Information</h5>
                                    <div class="detail-item">
                                        <span><strong>Jméno:</strong></span>
                                        <span>@customer.FirstName @customer.LastName</span>
                                    </div>

                                    <div class="detail-item">
                                        <span><strong>Document Number:</strong></span>
                                        <span>@customer.DocumentNumber</span>
                                    </div>

                                    <div class="detail-item">
                                        <span><strong>Place of Birth:</strong></span>
                                        <span>@customer.PlaceOfBirth</span>
                                    </div>

                                    <div class="detail-item">
                                        <span><strong>Date of Birth:</strong></span>
                                        <span>@customer.DateOfBirth</span>
                                    </div>
                                    <div class="detail-item">
                                        <span><strong>Date of Issue:</strong></span>
                                        <span>@customer.DateOfIssue</span>
                                    </div>
                                    <div class="detail-item">
                                        <span><strong>Date of Expiry:</strong></span>
                                        <span>@customer.DateOfExpiry</span>
                                    </div>
                                    <div class="detail-item">
                                        <span><strong>Personal Identification Number:</strong></span>
                                        <span>@customer.PersonalIdentificationNumber</span>
                                    </div>
                                    <div class="detail-item">
                                        <span><strong>Nationality :</strong></span>
                                        <span>@customer.Nationality</span>
                                    </div>

                                    <div class="detail-item">
                                        <span><strong>Phone:</strong></span>
                                        <span>@customer.Phone</span>
                                    </div>
                                    <div class="detail-item">
                                        <span><strong>Email:</strong></span>
                                        <span>@customer.Email</span>
                                    </div>
                                    <div class="detail-item">
                                        <span><strong>Address:</strong></span>
                                        <span>@customer.Address</span>
                                    </div>

                                    <div class="detail-item">
                                        <span><strong>City:</strong></span>
                                        <span>@customer.City</span>
                                    </div>
                                    <div class="detail-item">
                                        <span><strong>Postal Code:</strong></span>
                                        <span>@customer.PostalCode</span>
                                    </div>

                                    <div class="detail-item">
                                        <span><strong>Country:</strong></span>
                                        <span>@customer.Country</span>
                                    </div>
                                    <div class="detail-item">
                                        <span><strong>Created At:</strong></span>
                                        <span>@customer.CreatedAt</span>
                                    </div>
                                    <div class="detail-item">
                                        <span><strong>Updated At:</strong></span>
                                        <span>@customer.UpdatedAt</span>
                                    </div>

                                </div>

                                <div class="d-flex gap-3 mt-4">
                                    <button class="btn btn-danger flex-grow-1" @onclick="OpenDeleteConfirmation">Delete</button>
                                    <button class="btn btn-outline-secondary flex-grow-1" @onclick="NavigateToCustomers">Back to List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="mt-5">
            <QuickGrid Items="filteredReservations.AsQueryable()" Pagination="paginationState" Class=" w-100">
                <PropertyColumn Title="Zákazník" Property="@(x => x.CustomerName)" Sortable="true" />
                <PropertyColumn Title="CheckIn" Property="@(x => x.CheckIn.ToShortDateString())" Sortable="true" />
                <PropertyColumn Title="CheckOut" Property="@(x => x.CheckOut.ToShortDateString())" Sortable="true" />
                <PropertyColumn Title="Pokoj" Property="@(x => x.RoomNumber)" Sortable="true" />
                <PropertyColumn Title="Cena" Property="@(x => x.TotalPrice)" Sortable="true" />
                <PropertyColumn Title="Status" Property="@(x => x.ReservationStatusName)" Sortable="true" />
                <TemplateColumn Title="Akce">
                    <div class="d-inline-flex">
                        <button class="btn text-primary" @onclick="() => NavigateToReservationDetail(context.Id)">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </TemplateColumn>

            </QuickGrid>
            <Paginator State="paginationState" />
		</div>



    }
</div>


<DeleteModal IsVisible="@isDeleteModalVisible" OnClose="HandleModalClose" ActionType="DeleteCustomer" Title="Smazání zákazníka" />


@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private DetailCustomerViewModel customer { get; set; } = new DetailCustomerViewModel();
	private List<ReservationViewModel> reservations = new List<ReservationViewModel>();
	private List<ReservationViewModel> filteredReservations = new List<ReservationViewModel>();
	private string? searchTerm;
	private PaginationState paginationState = new PaginationState() { ItemsPerPage = 20 };

    private bool isDeleteModalVisible = false;


    private void OpenDeleteConfirmation()
    {
        isDeleteModalVisible = true;
    }

    private async void HandleModalClose(bool result)
    {
        if (result)
        {
			await DeleteCustomer();
    }
		isDeleteModalVisible = false;
	}

    protected override async Task OnInitializedAsync()
    {
		customer = await CustomerService.GetCustomerById(Id);
		reservations = await ReservationService.GetReservationsByCustomerIdAsync(Id);
		filteredReservations = reservations;
    }

	private async Task DeleteCustomer()
	{
		await CustomerService.DeleteCustomer(Id);
		NavigateToCustomers();
	}

	private void NavigateToCustomers()
	{
		NavigationManager.NavigateTo("/zakaznici");
	}


    private void NavigateToReservationDetail(int id)
    {
        NavigationManager.NavigateTo($"/rezervace/{id}");
    }

    private void NavigateToAddReservation()
    {
        NavigationManager.NavigateTo("/pridat-rezervaci");
    }


 

}