@page "/pokoje"
@using HoaP.Application.ViewModels.Room
@inject RoomService RoomService
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<style>
    .active-column {
        width: 0px;
        
    }
</style>

<div class="container mt-5" @onmousedown="HideOptions">
    <div class="card border-0 shadow-sm mx-auto">
        <div class="card-body">
            <h3 class="text-center mb-4 page-title">Pokoje</h3>
            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Hledat..." @oninput="SearchRooms" />
                <button class="btn btn-outline-secondary" type="button">Hledat</button>
            </div>
            <div class="d-flex justify-content-end mb-3">
                <button class="btn btn-primary" @onclick="NavigateToAddRoom">
                    <i class="bi bi-plus"></i> Přidat pokoj
                </button>
            </div>
            @if (rooms == null || rooms.Count == 0)
            {
                <div class="text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <p class="mt-2">Načítám pokoje...</p>
                </div>
            }
            else
            {
                <div class="table-responsive">
                    <table class="w-100">
                        <QuickGrid Items="filteredRooms.AsQueryable()" Pagination="pagginationState" Class="w-100">

							<TemplateColumn class="active-column">
								
								@if (context.IsDisable == true)
								{
                                    <span style="color: red; font-size: 13px;">
                                        ●
									</span>
								}
								else
								{
									<span style="color: green; font-size: 13px;">
                                        ●
									</span>
								}
                            </TemplateColumn>

                            <PropertyColumn Title="Číslo pokoje" Property="@(r => r.RoomNumber)" Sortable="true" >
                                

                            </PropertyColumn>
                            <PropertyColumn Title="Typ pokoje" Property="@(r => r.RoomTypeName)" Sortable="true" />
                            <PropertyColumn Title="Status" Property="@(r => r.RoomStatusName)" Sortable="true" />
							<TemplateColumn Title="Cena">
								@context.Price @context.CurrencySymbol
                            </TemplateColumn>
                            <PropertyColumn Title="Max Dospělí" Property="@(r => r.MaxAdults)" Sortable="true" />
                            <PropertyColumn Title="Max Děti" Property="@(r => r.MaxChildren)" Sortable="true" />
                            <TemplateColumn Title="Akce">
								<div class="d-inline-flex">
                                    <button class="btn text-primary" @onclick="() => NavigateToRoomDetail(context.Id)">
                                        <i class="bi bi-search"></i>
                                    </button>
                                    <button class="btn text-muted" @onclick="() => ToggleOptions(context.Id)">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>

                                    @if (VisibleRoomId == context.Id)
                                    {
										<div class="options-menu" @ref="optionsMenu">
                                            <button class="dropdown-item" @onmousedown="() => DeleteRoom(context.Id)">Smazat</button>
											<button class="dropdown-item" @onmousedown="() => NavigateToUpdateRoom(context.Id)">Upravit</button>
                                        </div>
                                    }
                                </div>
                            </TemplateColumn>

                        </QuickGrid>
                        <Paginator State="pagginationState" />

                    </table>
                </div>
            }
        </div>
    </div>
</div>

<DeleteModal IsVisible="@isModalVisible" Title="Smazání pokoje" ActionType="DeleteRoom" OnClose="CloseModal" />


<style>
    

</style>


@code {
    private PaginationState pagginationState = new PaginationState() { ItemsPerPage = 10 };

    private ICollection<RoomViewModel> rooms;
    private string searchTerm;
    private List<RoomType> RoomTypes = new List<RoomType>();
    private List<RoomStatus> RoomStatuses = new List<RoomStatus>();
    private ICollection<RoomViewModel> filteredRooms;
    private bool isAvailable;
    private int? VisibleRoomId { get; set; } = null;
	private ElementReference optionsMenu;




    private bool isModalVisible = false;
    private int deleteRoomId;
    private string Title;
    private string modalMessage;
    private string ActionType;


    private void NavigateToSettingRoomPage()
    {
        NavigationManager.NavigateTo("/nastaveni-pokoju");
    }

    private void ToggleOptions(int roomId)
    {
        VisibleRoomId = VisibleRoomId == roomId ? null : roomId;
    }

    private void HandleFocusOut(FocusEventArgs e)
    {
        VisibleRoomId = null;
        StateHasChanged();
    }

    private void EditRoom(int roomId)
    {
		NavigationManager.NavigateTo($"/upravit-pokoj/{roomId}");
    }

	private void DeleteRoom(int roomId)
	{
		Console.WriteLine($"Mažu pokoj s ID: {roomId}");
		OpenDeleteRoomConfirmation(roomId);
		VisibleRoomId = null; // Skryje menu po akci
	}

	private void HideOptions(MouseEventArgs e)
    {
		if (VisibleRoomId.HasValue && optionsMenu.Context != null)
		{
			VisibleRoomId = null;
			
		}
    }


    private void OpenDeleteRoomConfirmation(int roomId)
    {
        isModalVisible = true;
        deleteRoomId = roomId;

    }

    private async Task CloseModal(bool result)
    {
		var room = rooms.FirstOrDefault(r => r.Id == deleteRoomId);
        isModalVisible = false;

        if (result)
        {
			await RoomService.DeleteRoomAsync(deleteRoomId);
            rooms.Remove(room);
            filteredRooms = rooms;
        }
    }



    protected override async Task OnInitializedAsync()
    {
		rooms = await RoomService.GetRoomsAsync();
        filteredRooms = rooms;

    }



    private void SearchRooms(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredRooms = rooms.Where(r => r.RoomNumber.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
                || r.Price.ToString().Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
                || r.MaxAdults.ToString().Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
                || r.MaxChildren.ToString().Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
				|| r.RoomTypeName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
				|| r.RoomStatusName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
            ).ToList();
        }
        else
        {
            filteredRooms = rooms;
        }
    }

    private void NavigateToRoomDetail(int id)
    {
        NavigationManager.NavigateTo($"/pokoj/{id}");
    }

    private void NavigateToAddRoom()
    {
		NavigationManager.NavigateTo("/vytvorit-pokoj");
    }

	private void NavigateToUpdateRoom(int id)
	{
		NavigationManager.NavigateTo($"/spravovat-pokoj/{id}");
	}


}